* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: #000;
  margin: 0 auto;
  padding: 10px 0 10px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  background-color: #edeeef;
  padding-top: 40px;
}

.restaurant-list h1 {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.5em;
}

.location {
  border-bottom: 0.25px solid black;
}

.location:hover { background-color: #bcbcbc }

.content {
  width: 90%;
  padding: 4%;
  display: inline-block;
}

.arrow {
  padding-top: 6%;
  width: 5%;
  float: right;
  margin: auto;
}
